@model IEnumerable<BlogoSphere.Models.Post>

@{
	Layout = null;
}

@foreach (var item in Model)
{
	<div class="container customCont">
		<div class="d-lg-inline-flex w-100">
			<div class="col-lg-8 p-2">
				<div class="d-lg-inline-flex bg-danger rounded m-1 pl-1 align-content-lg-center p-1" id="BL">
					<a href=@Url.Action("Index", "Post", new { id = item.Id } ) class="text-dark">@Html.DisplayFor(modelItem => item.Title)</a>
				</div>
				<div class="d-lg-inline-flex bg-danger rounded m-1 p-1 align-content-lg-center" id="BL">
					<a href=@Url.Action("Details", "Blog", new { id = item.BlogId } ) class="text-dark">@Html.DisplayFor(modelItem => item.Blog.Title)</a>
				</div>
			</div>
			<div class="col-lg-4 p-2 pt-3 text-right">
				<div class="">@Html.DisplayFor(modelItem => item.Created) by @Html.DisplayFor(modelItem => item.Blog.Author.UserName)</div>
			</div>
		</div>
	</div>
}
